<div class="column studentPanel">
    <aside class="menu">
        <p class="menu-label">
            User Name
        </p>
        <ul class="menu-list">
            {{!-- each loop for students --}} {{#each students}}
            <li data-id={{id}}>{{name}}</li>
        </ul>
    </aside>
</div>