<div class="studentPanel">
    <aside class="menu">
        <p class="menu-label">
            User Name
        </p>
        <ul class="menu-list">
            <p>test</p>
            {{#if teacher}}
                {{#each classes}}
                <li data-id={{id}}>{{name}}</li>
                {{/each}}
            {{/if}}
            {{!-- each loop for students --}}
            {{#if tutor}}
                {{#each students}}
                    <li data-id={{id}}>{{name}}</li>
                {{/each}}
            {{/if}}
        </ul>
    </aside>
</div>