<div class="tabs">
    <ul>
        <li>
            <a>Unread</a>
        </li>
        <li>
            <a>Profile</a>
        </li>
        <li>
            <a>Notes</a>
        </li>
    </ul>
</div>