<div class="tabs">
    <ul>
        <li>
            <a id="teacherView" href="../teacherView.handlebars">Class Messages</a>
        </li>
        <li>
            <aid="studentProfile" href="../studentProfile.handlebars">Student Profile</a>
        </li>
    </ul>
</div>