<div class="tabs">
    <ul>
        <li>
            <a id="tutorView" href="../tutorview">Unread Messages</a>
        </li>
        <li>
            <a id="studentProfile" href="../studentProfile">Student Profile</a>
        </li>
    </ul>
</div>

{{!-- These need ids so we can reference them when clicked --}}