<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Name</title>
    {{!-- Bulma CDN & FontAwesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> {{!--
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script> --}}
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
</head>

<body>
    {{!-- Login Page --}}
    <section class="section" id="login">
        <div class="container">
            <h1 class="title">
                Project Name
            </h1>
        </div>
        <div class="container" id="splashimg">
            <div class="card">
                <div class="card-content">
                    <h4>Take the stress out of student management</h4>
                </div>
            </div>
        </div>
    </section>
</body>

</html>