{{!-- DUMMY DATA TO TEST TUTOR AUTHENTICATION: --}}

<section class="section" id="login">
    <div class="container">
        <h1 class="title">
            Project Name
        </h1>
    </div>
    <div class="container" id="splashimg">
        <div class="card">
            <div class="card-content">
                <h4>Take the stress out of student management</h4>
            </div>


        </div>
    </div>
</section>


{{!-- NEW TUTOR --}}
<div style="margin-left: 15px; margin-right:15px;">
    <form id="signup" name="signup" method="post" action="/newUser">

        <label for="userType">Please select your user type:</label>
        <input type="radio" name="userType" value="tutor"> Tutor
        <br>
        <input type="radio" name="userType" value="teacher"> Teacher
        <br>
        <input type="radio" name="userType" value="parent" disabled> Parent -
        <i>Coming Soon!</i>
        <br>

        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />

        <label for="firstName">Firstname</label>
        <input name="firstName" type="text" />

        <label for="lastName">Lastname</label>
        <input name="lastName" type="text" />

        <label for="password">Password</label>
        <input name="password" type="password" />

        <label for="agency">Agency</label>
        <input name="agency" type="text">

        <input class="btn" type="submit" value="Sign Up" />
    </form>
    <br>
</div>

{{!-- EXISTING TUTOR --}}
<div>
    <br>
    <form id="signin" name="signin" method="get" action="/userLogin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />

        <input class="btn" type="submit" value="Sign In" />


    </form>
</div>