{{!-- Insert navbar partial --}}
{{>partials/navbar}}
{{!-- Insert tabs partial --}}
<div class="columns is-three-quarters">
{{>partials/tabs}}
{{!-- Media object with Student's information --}}
<div class="column">
     <div class="card">
            <div class="card-content">
                            <p class="subtitle">{{studentName}}</p>
            </div>
    </div>
</div>
{{!-- Teacher's 5 most recent messages partial --}}
 
{{!-- tutor's 5 most recent messages partial --}}
</div>
<div class="column">
        </div>