{{!-- Navbar partial --}}
{{> teacherNavbar}}
{{!-- Tabs partial --}}
<div class="column">
    {{> teachertabs}}
<div class="columns">
    {{!-- For each class this teacher has, render a checkbox with the class' name. --}}
    {{#each classroom}}
        <label class="checkbox" id={{name}}>
            <input type="checkbox"> {{name}}
        </label>
    {{/each}}
    {{!-- Text area for teacher to sent messages --}}
    <textarea class="textarea is-info" placeholder="Enter your class' messages here!" rows="10"></textarea>
    <input type="submit" clas="button is-info" value="Sumbit message">
</div>
</div>
