{{!-- Insert navbar partial --}}
{{>partials/navbar}}
{{!-- Insert tabs partial --}}
<div class="column is-three-quarters">
{{>partials/tabs}}
{{!-- for each unread Message --}}

   {{!-- Message text --}}
  </div>
</article>
{{!-- close each loop --}}
</div>