{{!-- Insert navbar partial --}}
{{!-- Insert tabs partial --}}

{{!-- Should this go in the messages partial? --}}
{{!-- for each unread Message --}}
<article class="message">
  <div class="message-header">
    {{!-- <p>Student Name</p> --}}
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
   {{!-- Message text --}}
  </div>
</article>
{{!-- close each loop --}}