/* Login Page CSS */

body {
    position: relative;
    /* width: 1440px;
    height: 1024px; */
    background: #FFFFFF;
}

#splashimg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.65%;
    bottom: 12.11%;
    background: linear-gradient(180deg, rgba(142, 68, 173, 0.79) 0%, rgba(142, 68, 173, 0.79) 11.05%, rgba(142, 68, 173, 0) 100%), url(open-book-library-education-read-159621.jpg);
}

.title {
    text-align: center;
}

.about {
    position: absolute;
    width: 1250px;
    height: 271px;
    left: 95px;
    top: 589px;
}

/* Tutor CSS */

.menu {
    width: 200px;
    height: 100vw;
    background: #724E87;
    text-align: center
}

.menu .menu-label {
    color: white;
    padding: 20px 0px;
    font-size: 24px
}

.menu-list .students {
    color: white;
    padding: 20px 0px
}

#addStudent {
    /* margin: 10% 0px; */
    position: absolute;
width: 203px;
height: 47px;
left: 1000px;
top: 75px;

}

.unread {
    font-size: 24px;
    padding: 20px 0;
}

#bottomMessage {
    margin: 30% 0;
}

/* Log in Page */

.mainTitle {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
    text-align: center;
}

.books {
    height: 80vh;
    width: 100%;
}

.card1 {
    position: absolute;
    width: 370px;
    height: 270px;
    left: 15vw;
    top: 589px;
}

.card2 {
    position: absolute;
    width: 370px;
    height: 270px;
    left: 40vw;
    top: 589px;
}

.card3 {
    position: absolute;
    width: 370px;
    height: 270px;
    left: 65vw;
    top: 590px;
}

.loginButton {
    position: absolute;
    width: 203px;
    left: 45vw;
    top: 20vh;
}